{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container">
        <div class="row page-title mb-3">
            <div class="col-12">
                <h1 class="black-shadow text-center">Blog</h1>
            </div>
        </div>
        <div class="row mt-3">
            <h4 class="black-shadow text-center">
                Leave your thoughts & ideas, rate your experience,
                <br>and if you wish, recommend an item you are missing!
            </h4>
        </div>
        <div class="row mt-3">
            <div class="row">
                <div class="center-container">
                    <h4 class="black-shadow text-danger text-center">{{ errorMsg }}</h4>
                    <h4 class="black-shadow text-success text-center">{{ successMsg }}</h4>
                </div>
            </div>
            <div class="center-container">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label id="rating-title" for="ratings" class="black-shadow">Rate Your Experience</label>
                        <div class="center-container">
                            <fieldset id="ratings" name="ratings"class="center-container starability-fade">
                                <input type="radio" id="no-rate" class="input-no-rate" name="rating"
                                       value="0_NoRating" checked aria-label="No rating." />
                                <input type="radio" id="rate1" name="rating" value="1_Terrible"/>
                                <label for="rate1" title="Terrible">1 star</label>
                                <input type="radio" id="rate2" name="rating" value="2_Not good"/>
                                <label for="rate2" title="Not good">2 stars</label>
                                <input type="radio" id="rate3" name="rating" value="3_Average"/>
                                <label for="rate3" title="Average">3 stars</label>
                                <input type="radio" id="rate4" name="rating" value="4_Very good"/>
                                <label for="rate4" title="Very good">4 stars</label>
                                <input type="radio" id="rate5" name="rating" value="5_Amazing"/>
                                <label for="rate5" title="Amazing">5 stars</label>
                            </fieldset>
                        </div>
                        <div class="center-container">
                            <div class="row">
                                <label id="feedback-title" for="feedback" class="black-shadow">
                                    Leave Your Thoughts
                                </label>
                                <textarea id="feedback" name="feedback" rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <input type="submit" value="Send Feedback" class="btn btn-lg btn-outline-light text-center"/>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row mt-4 mb-3">
            <div class="card card-shadow">
                <div class="collapsible-section" id="section-aboutmybag">
                    <input type="checkbox" name="collapse" id="coll-section-recommend-item">
                    <div class="collapsible-section-title mt-2">
                        <label id="recommendation-title" class="black-shadow text-center"
                               for="coll-section-recommend-item">Recommend Item</label>
                    </div>
                    <div class="collapsible-section-content mt-2">
                        <div class="form-container">
                            <div class="center-container">
                                <div class="form-section">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="form-group mb-3">
                                            <label class="mb-1" for="category">Category</label>
                                            <br>
                                            <select class="picklists" name="category" id="category" required>
                                              <option value="default">--Choose One--</option>
                                              <option value="Clothes">Clothes</option>
                                              <option value="Linens">Linens</option>
                                              <option value="Communication">Communication</option>
                                              <option value="Safety">Safety</option>
                                              <option value="Cooking">Cooking</option>
                                              <option value="Food_Drink">Food & Drink</option>
                                              <option value="Hygiene">Hygiene</option>
                                              <option value="Health">Health</option>
                                              <option value="Lightning">Lightning</option>
                                              <option value="Orientation">Orientation</option>
                                              <option value="Tools">Tools</option>
                                              <option value="Weapons">Weapons</option>
                                            </select>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="mb-1" for="item_name">Item Name</label>
                                            <input type="text" class="form-control"
                                                   id="item_name" name="item_name" required/>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="mb-1" for="weight">Item Weight (kg)</label>
                                            <input type="number" class="form-control" id="weight"
                                                   name="weight" max="20" required/>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="mb-1" for="usefulness">Usefulness (Scale 1-10)</label>
                                            <input type="number" class="form-control" id="usefulness"
                                                   name="usefulness" min="1" max="10" required/>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="mb-1" for="external">
                                                Can be brought externally (out of bag) ?
                                            </label>
                                            <br>
                                            <select class="picklists" name="external" id="external" required>
                                              <option value="default">--Choose One--</option>
                                              <option value="True">Yes</option>
                                              <option value="False">No</option>
                                            </select>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="justification">Justification</label>
                                            <br>
                                            <label class="mb-1 help-txt">
                                                (Max 600 characters, including related climate/landform,
                                                special conditions (no available food/drink/infrastructure)
                                                <br>and/or special company (child, elder person, pet)
                                                which justifies the item)
                                            </label>
                                            <textarea id="justification" name="justification"
                                                      rows="5" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group mb-3">
                                            <input type="submit" value="Recommend Item"
                                                   class="btn btn-lg btn-outline-light" required/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row mt-3 mb-3">
            <label id="feedbacks-title" class="black-shadow text-center">Feedbacks</label>
        </div>
        <br>
        <div class="row">
            {% for f in feedbacks %}
                <div class="card card-shadow card-blog mb-3">
                    <div class="row">
                        <p class="mt-2"><strong>Feedback #{{f.id}}</strong></p>
                        <p class="mt-1">By user : {{f.user}}</p>
                        <p>Created on : {{f.created}}</p>
                        <p>Rating : {{f.rating_point}} stars ({{f.rating_description}})</p>
                        <p>Feedback :<br>{{f.content|default:"N/A"}}</p>
                    </div>
                    {% if request.user == f.user or request.user.is_superuser %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row mb-2">
                                <div class="col-12">
                                    <input type="hidden" id="feedback-to-delete"
                                           name="feedback-to-delete" value="{{f.id}}">
                                    <input type="submit" value="Delete Comment" class="btn btn-md btn-outline-danger">
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}