{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    <div class="container">
        <div class="row page-title mb-3">
            <div class="col-12">
                <h1 class="black-shadow text-center">Add Items</h1>
                <h4 class="text-danger">{{ errorMsg }}</h4>
            </div>
        </div>
        <div class="card card-shadow">
            <div class="collapsible-section" id="section-aboutmybag">
                <input type="checkbox" name="collapse" id="coll-section-aboutbag">
                <div class="collapsible-section-title mt-2">
                    <label id="aboutmybag-title" class="black-shadow text-center"
                           for="coll-section-aboutbag">About My Bag</label>
                </div>
                <div class="collapsible-section-content mt-2">
                    <div class="form-container">
                        <div class="center-container items-bag-text mb-3">
                            <div class="form-section">
                                <h4 class="bag-label">Basics</h4>
                                <label class="bag-label">Name : {{bag.name}}</label>
                                <label class="bag-label">User Weight (kg) : {{bag.weight_user}}</label>
                                <label class="bag-label">Bag Weight (kg) : {{bag.weight_bag}}</label>
                            </div>
                        </div>
                        <div class="center-container items-bag-text mb-3">
                            <div class="form-section">
                                <h4 class="bag-label">Company</h4>
                                <label class="bag-label">Underage company : {{bag.with_child}}</label>
                                <label class="bag-label">Elder company : {{bag.with_elder}}</label>
                                <label class="bag-label">Pet : {{bag.with_pet}}</label>
                            </div>
                        </div>
                        <div class="center-container items-bag-text mb-3">
                            <div class="form-section">
                                <h4 class="bag-label">Locale</h4>
                                <label class="bag-label">Climate : {{bag.climate.name}}</label>
                                <label class="bag-label">Landform : {{bag.landform.name}}</label>
                                <label class="bag-label">Environment : {{bag.environment.name}}</label>
                            </div>
                        </div>
                        <div class="center-container items-bag-text mb-3">
                            <div class="form-section">
                                <h4 class="bag-label">Conditions</h4>
                                <label class="bag-label">Human infrastructure : {{bag.available_infrastructure}}</label>
                                <label class="bag-label">Drinking water : {{bag.available_water}}</label>
                                <label class="bag-label">Comestibles (food) : {{bag.available_food}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row page-title mt-4 mb-3">
            <div class="col-12">
                <h2 class="black-shadow text-center">Recommended Items</h2>
            </div>
        </div>
        <div>
            <form class="form-container" method="POST">
                {% csrf_token %}
                    {% for c in choices %}
                    <div class="card">
                        <div class="collapsible-section" id="section-items-{{c}}">
                            <input type="checkbox" name="collapse" id="coll-section-{{c}}">
                            <div class="collapsible-section-title mt-2">
                                <label id="{{c}}-title" class="black-shadow text-center items-section-title"
                                       for="coll-section-{{c}}">{{c}}</label>
                            </div>
                            <div class="collapsible-section-content mt-2">
                                <div class="form-container">
                                    <div class="items-section text-center mb-3">
                                        <div class="form-group">
                                            <h5 class="bag-label">Basic Items</h5>
                                             {% for i in basic_items %}
                                                {% if i.category in c%}
                                                    <input type="checkbox" id="{{i.name}}"
                                                           name="item_checkbox" value="{{i.name}}">
                                                    <label class="items-list-label" for="{{i.name}}">{{i.name}}</label>
                                                    <label class="info-item info-item-modal"
                                                           id="{{i.name}}-info-additems">?</label>
                                                    <br>
                                                {% endif %}
                                             {% endfor%}
                                        </div>
                                    </div>
                                    <div class="items-section text-center mb-3">
                                        <div class="form-group">
                                            <h5 class="bag-label">Company-specific Items</h5>
                                             {% for i2 in items_user_company %}
                                                {% if i2.category in c%}
                                                    <input type="checkbox" id="{{i2.name}}"
                                                           name="item_checkbox" value="{{i2.name}}">
                                                    <label class="items-list-label" for="{{i2.name}}">{{i2.name}}</label>
                                                    <label class="info-item info-item-modal"
                                                           id="{{i2.name}}-info-additems">?</label>
                                                    <br>
                                                {% endif %}
                                             {% endfor%}
                                        </div>
                                    </div>
                                    <div class="items-section text-center mb-3">
                                        <div class="form-group">
                                            <h5 class="bag-label">Condition-specific Items</h5>
                                             {% for i3 in items_user_condition %}
                                                {% if i3.category in c%}
                                                    <input type="checkbox" id="{{i3.name}}"
                                                           name="item_checkbox" value="{{i3.name}}">
                                                    <label class="items-list-label" for="{{i3.name}}">{{i3.name}}</label>
                                                    <label class="info-item info-item-modal"
                                                           id="{{i3.name}}-info-additems">?</label>
                                                    <br>
                                                {% endif %}
                                             {% endfor%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="card mt-4">
                        <div class="center-container">
                            <input id="add-items-btn" type="submit" value="Add Items To My Bag"
                                   class="btn btn-lg btn-outline-light text-center"/>
                        </div>
                    </div>
            </form>
        </div>
        <div id="additems-modal" class="modal">
            <span id="additems-close-modal" class="close-modal">&times;</span>
            <img class="modal-content" id="additems-model-img" src="" alt="">
            <h3 class="text-center" id="additems_item_name"></h3>
            <div class="row mb-3">
                <div class="center-container">
                    <div class="form-section">
                        <h4 class="mt-1">Basics</h4>
                        <label class="modal-label mb-2" id="additems_item_category"></label>
                        <label class="modal-label mb-2" id="additems_item_weight"></label>
                        <label class="modal-label mb-2" id="additems_item_usefulness"></label>
                        <label class="modal-label mb-2" id="additems_item_external"></label>
                        <h4 class="mt-1">Related to special company</h4>
                        <label class="modal-label mb-2" id="additems_item_with_child"></label>
                        <label class="modal-label mb-2" id="additems_item_with_elder"></label>
                        <label class="modal-label mb-2" id="additems_item_with_pet"></label>
                        <h4 class="mt-1">Locale</h4>
                        <label class="modal-label mb-2" id="additems_item_climates"></label>
                        <label class="modal-label mb-2" id="additems_item_landforms"></label>
                        <label class="modal-label mb-2" id="additems_item_environments"></label>
                        <h4 class="mt-1">Related to special condition</h4>
                        <label class="modal-label mb-2" id="additems_item_available_infrastructure"></label>
                        <label class="modal-label mb-2" id="additems_item_available_water"></label>
                        <label class="modal-label mb-2" id="additems_available_food"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        window.add_items_JSON = {{items_json|safe}};
    </script>
    <script type="text/javascript" src="{% static 'js/js_packmybag' %}"></script>
</main>
{% endblock content %}