{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    <div class="container">
        <article>
            <!-- Page Title -->
            <header>
                <div class="row page-title mb-3">
                    <div class="col-12">
                        <h1 class="black-shadow text-center">Pack My Bag</h1>
                        <h4 class="text-danger text-center">{{ errorMsg }}</h4>
                    </div>
                </div>
            </header>
            <!-- Form to create a new bag with all necessary required / optional information -->
            <div>
                <form class="form-container" method="POST">
                    {% csrf_token %}
                    <!-- Basic & Company-specific information -->
                    <div id="form-bag-details" class="center-container form-section-text">
                        <div class="form-section packing-form">
                            <div class="form-group mb-3">
                                <label class="mb-1" for="bagname">Name Your Bag</label>
                                <input type="text" class="form-control form-inputs" id="bagname" name="bagname" required/>
                            </div>
                            <div class="form-group mb-3">
                                <label class="mb-1" for="userweight">Your Weight (kg)</label>
                                <input type="number" class="form-control form-inputs" id="userweight"
                                       name="userweight" min="15" max="250" required/>
                            </div>
                            <!-- Bag weight calculated automatically by JS, based on user's weight -->
                            <div class="form-group mb-1" id="bagweight-div">
                                <label class="mb-1" for="bagweight">Bag Weight (kg) :</label>
                                <input type="number" class="form-control" id="bagweight" name="bagweight" readonly/>
                            </div>
                            <div class="form-group">
                                <label class="mb-1">Company</label>
                                <br>
                                <input type="checkbox" id="have_child" name="have_child" value="True">
                                <label for="have_child">Underage company</label><br>
                                <input type="checkbox" id="have_elder" name="have_elder" value="True">
                                <label for="have_elder">Elder company</label><br>
                                <input type="checkbox" id="have_pet" name="have_pet" value="True">
                                <label for="have_pet">Pet</label>
                            </div>
                        </div>
                    </div>
                    <!-- Locale-specific information -->
                    <div id="form-climate-details" class="center-container">
                        <div class="form-section packing-form">
                            <div class="form-group mb-3">
                                <label class="mb-1" for="climate">Climate</label>
                                <br>
                                <select class="picklists" name="climate" id="climate" required>
                                  <option label="--Choose One--"></option>
                                  <option value="Dry">Dry</option>
                                  <option value="Tropical">Tropical</option>
                                  <option value="Continental">Continental</option>
                                  <option value="Temperate">Temperate</option>
                                  <option value="Polar">Polar</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label class="mb-1" for="landform">Landform</label>
                                <br>
                                <select class="picklists" name="landform" id="landform" required>
                                  <option label="--Choose One--"></option>
                                  <option value="Mountains">Mountains</option>
                                  <option value="Hills">Hills</option>
                                  <option value="Plateau">Plateau</option>
                                  <option value="Plain">Plain</option>
                                  <option value="Ocean">Ocean</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="mb-1" for="environment">Environment</label>
                                <br>
                                <select class="picklists" name="environment" id="environment" required>
                                  <option label="--Choose One--"></option>
                                  <option value="Forest">Forest</option>
                                  <option value="Rocky">Rocky</option>
                                  <option value="Grassland">Grassland</option>
                                  <option value="Desert">Desert</option>
                                  <option value="Tundra">Tundra</option>
                                  <option value="Marine">Marine</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Condition-specific information -->
                    <div id="form-resources-details" class="center-container">
                        <div class="form-section packing-form">
                            <div class="form-group mb-3">
                                <label class="mb-1" for="human_infra">Human infrastructure available</label>
                                <br>
                                <select class="picklists" name="human_infra" id="human_infra" required>
                                  <option label="--Choose One--"></option>
                                  <option value="True">Yes</option>
                                  <option value="False">No</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label class="mb-1" for="drinking_water">Drinking water available</label>
                                <br>
                                <select class="picklists" name="drinking_water" id="drinking_water" required>
                                  <option label="--Choose One--"></option>
                                  <option value="True">Yes</option>
                                  <option value="False">No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="mb-1" for="comestible_food">Comestibles (food) available</label>
                                <br>
                                <select class="picklists" name="comestible_food" id="comestible_food" required>
                                  <option label="--Choose One--"></option>
                                  <option value="True">Yes</option>
                                  <option value="False">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="select-items-btn" class="center-container">
                        <input type="submit" value="Ready to Add My Items" class="btn btn-lg btn-outline-light"/>
                    </div>
                </form>
            </div>
        </article>
    </div>
    <script type="text/javascript" src="{% static 'js/js_packmybag.js' %}"></script>
</main>
{% endblock content %}