{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    <div class="container">
        <article>
            <!-- Page Title -->
            <header class="row page-title mb-4">
                <div class="col-12">
                    <h1 class="black-shadow text-center">Why do you need a bag ?</h1>
                </div>
            </header>
            <!-- Description of site's objective -->
            <div class="row">
                <p class="text-center whyabag_text">
                    What does the end of the world mean?<br>
                    When we think of this expression, we usually think of some apocalyptic event destroying humanity.<br>
                    In Hollywood films, it is usually a zombie-attack,
                    an alien-invasion or some evil master plan built by a mad genius.<br>
                    In mythologies we tell ourselves since centuries, it is a world-wide catastrophe generally :
                    eternal ice, flames eating up the world, or the sky falling down on us.<br>
                    In the context of our modern age, for most people, the end of the world means
                    a nuclear war or a deadly pandemic which destroys our current civilisation.<br>
                    Though this latter one is a quite real threat to fear (and of course, the other possibilites too,
                    with respect to your belief or faith), the end of someone's world does not necessarily means
                    the end of the whole world.<br>
                    <br>
                    One's world can end with en event counted as small or local on global scale, but on personal scale,
                    it can mean the end of all one knows. A fire, hurricane, earth-quke or flood destroying one's home,
                    a desperate run-away from an abusive relationship, or a war raging in one's country can make the world
                    suddenly a big and cold pace where you may get help, but in the end, you have to depend on yourself.<br>
                    In these situations, one may or may not have a chance to run, but if there is a way to escape, then it
                    worth to make it as easy as possible - and this is where a bag packed with all the most necessary items,
                    what you can just grab before leaving, can make a difference.<br>
                    <br>
                    <strong>MyAPPocalypse</strong><br>
                    helps to plan a bag with all the necessary items based on your ideal bag size,
                    the local conditions (climate? landscape? available food, water or infrastructure?) and your possible
                    special company (child? elder person? pet?).<br>
                    It also provides links toward Amazon to see the buying options if you wish to realize your bag once.<br>
                    You also have the possibility to leave your feedback about where to improve the application, and to
                    recommend items you miss from the list of available options.<br>
                    <br>
                </p>
            </div>
            <footer>
                <h4 class="text-center black-shadow">
                    We all hope that the end of our world day will never come, but as they say :
                    <br>Always hope for the best, but be prepared for the worst!
                </h4>
            </footer>
        </article>
    </div>
</main>
{% endblock content %}